<div class="sidebar">
  <nel-scrollbar>
    <div class="side-nav is-fade">
      <ul>
        <li class="nav-item">
          @for (group of groupList; track group) {
            <div class="nav-group">
              <div class="nav-group__title">{{group.title}}</div>
              <ul class="pure-menu-list" style="height: auto;">
                @for (item of group.menuList; track item) {
                  <li class="nav-item">
                    <a [routerLink]="item.link" routerLinkActive="active" class="link">
                      <p class="link-text">{{item.name}}</p>
                    </a>
                  </li>
                }
              </ul>
            </div>
          }
        </li>
      </ul>
    </div>
  </nel-scrollbar>
</div>

<main class="page-content has-sidebar">
  <nel-scrollbar #scrollbar [nelWrapClass]="'mainWrap'">
    <div class="doc-content-wrapper">
      <div class="doc-content-container">
        <router-outlet></router-outlet>
        <app-nav-bottom type="component/" [routers]="groupList"></app-nav-bottom>
      </div>
    </div>
    <nel-backtop [nelTarget]="'.mainWrap'"></nel-backtop>
  </nel-scrollbar>
</main>
